/* Tipos de selectores */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
################# Etiqueta ###################
*/

h1{
    color: green;
    background: red;
    padding: 10px;
}

a{
    color: green;
    text-decoration: none;
    font-size: 18px;
}

footer a {
    color: rgb(153, 43, 226);
}


/*
################# ID ###################
*/

#descripcion,
#title{
    border: 5px solid goldenrod;
    padding: 15px;
}
#title{
    color: aquamarine;
    background: blueviolet;
    border: 2px dashed white;
}

/*
################# CLASE ###################
*/
/*las clases son un tipo de selector el cual nos da mas facilidad de poder trabajr con ellas, podemos poner mas de un nombre de selector por etiqueta class, cosa que con id no nos permite, la manera de llamarla es con un . antes de el nombre de la clase*/

.parrafo{
    font-style: italic;
    font-weight: bold;
}
.parrafo1{
    background-color: aqua;
    padding: 10px;
}
.parrafo3{
    background-color: greenyellow;
    padding: 15px;
}

/*
################# ATRIBUTOS ###################
*/