/* Tipos de selectores */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
################# Etiqueta ###################
*/

h1{
    color: green;
    background: red;
    padding: 10px;
}

a{
    color: green;
    text-decoration: none;
    font-size: 18px;
}

footer a {
    color: rgb(153, 43, 226);
}


/*
################# ID ###################
*/

#descripcion,
#title{
    border: 5px solid goldenrod;
    padding: 15px;
}
#title{
    color: aquamarine;
    background: blueviolet;
    border: 2px dashed white;
}

/*
################# CLASE ###################
*/

.parrafo{
    font-style: italic;
    font-weight: bold;
}
.parrafo1{
    background-color: aqua;
    padding: 10px;
}
.parrafo3{
    background-color: greenyellow;
    padding: 15px;
}

/*
################# ATRIBUTOS ###################
*/


.usuario form{
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}
.usuario form *{
    display: block;
}

input[type="text"]{
    margin-bottom: 10px;
    padding: 5px;
    width: 500px;
}
input[type="submit"]{
    color:black;
    background-color: bisque;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}

/*
################# Hijos ###################
*/
/**/
.menu > li > a{
    font-size: 16px;
    color: red;
    text-decoration: none;
}